* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #121212;
  color: #e0e0e0;
  font-family: system-ui, sans-serif;
}

main {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 제목 */
h1 {
  margin: 0;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #bbbbbb;
}

/* 폼 */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 입력 영역 */
label {
  display: flex;
  flex-direction: column;
  gap: 6px;

  font-size: 13px;
}

input {
  padding: 8px;

  background: #1e1e1e;
  color: #ffffff;

  border: 1px solid #333;
  border-radius: 4px;
}

/* 버튼 */
button {
  padding: 8px 16px;

  background: #3b82f6;
  color: white;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
